<footer>
    <img
      src="/images/logo-sportwear-a.png"
      alt="logo-sportwear"
      class="logo-footer"
    />
    <div class="footer-info">
      <p>About us.</p>
      <p>Contact.</p>
      <p>Products.</p>
      <p>Shipping policie.</p>
    </div>
    <h4 class="phrase">Made with ⚡ by group 4</h4>
    <h4 class="copyright">Copyright © 2022 SportWear S.R.L.</h4>
  </footer>