<footer>
    <img
      src="/images/logo-sportwear-a.png"
      alt="logo-sportwear"
      class="logo-footer"
    />
    <div class="footer-info">
      <p>Sobre nosotros</p>
      <p>Contacto</p>
      <p>Productos</p>
      <p>Nuestra políticas</p>
    </div>
    <h4 class="phrase">Hecho con ⚡ por group 4</h4>
    <h4 class="copyright">Copyright © 2022 SportWear</h4>
  </footer>