<header>
  
  

   

    <nav>
      <div class="mobile-nav">
        <div class="tope-page">
          <a href="/"><img
            src="/images/logo-sportwear-a.png"
            alt="logo-sportwear"
            class="logo-home"
            />
          </a>
          </div>

    
          <ul class="opciones-nav">
            <li><a href="/products">Productos</a></li>
            <li><a href="/cart">Carrito</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/products/crear">Crear producto</a></li>
          </ul>
    
        <div class = "busqueda-producto">
          <input type="text" placeholder="Buscar productos..." />
          <input type="checkbox" id="check"></input>
          <label for="check"><i class="fas fa-bars"></i></label>
        </div>
      </div>      
    </nav>
    <script src="/js/navbar.js"></script>
  </header>