<%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/register-styles.css" />
</head>

<%- include('partials/header.ejs') %>
  <body>
    

      <main>
          
        <h1>Ops... Al parecer ya estás logueado</h3>
        <a href="/"><p>Volver al inicio</p></a>   


      </main>
      
      <%- include('partials/footer') %>
      
</body>
</html>