<%- include('partials/head.ejs') %>
<head>
  <link rel="stylesheet" href="/css/carrito.css" />
</head>
  <body>
    
<%- include('partials/header.ejs') %>

    <main>
      <section class="info-buy">
        <h2 class="tu-carrito">Tu Carrito de compras</h2>
        <div class="price-buy">
          <article class="price">Total (x productos) $XXX</article>
          
          <article>
            <button class="pay">
              <h6 class="dentro-boton"> Ir a pagar  <i class="fa-solid fa-circle-arrow-right"></i> </h6>
            </button>
        </div>
          </article>
        
      </section>

      <section class="products-complete">
        <article class="productos">
          <img
            class="img-producto"
            src="/images/our_products/adidas-ranning-Ultraboost-celeste-a.jpg"
            alt="foto product"
          />
          <!-- <div class="product-info"> --> 
            <div>
            <p>Producto</p>
            </div>
            <div>  
              <p>Cantidad</p>
            </div>
            <div>  
              <p>Precio</p>
            </div>
          <!-- </div> -->
        </article>

        <article class="productos">
          <img
            class="img-producto"
            src="/images/our_products/adidas-ranning-Ultraboost-naranja-a.jpg"
            alt="foto product"
          />
          <!-- <div class="product-info"> --> 
            <div>
            <p>Producto</p>
            </div>
            <div>  
              <p>Cantidad</p>
            </div>
            <div>  
              <p>Precio</p>
            </div>
          <!-- </div> -->
        </article>
          
         
        

      </section>
      <section class="summary">
        <article class="summary-title">Total de compra</article>
        <article class="summary-description">Cantidad de productos</article>
        <article class="summary-description">Envío en CABA $ 500</article>
        <article class="summary-price">Total: xxxxx</article>
        <button class="pay">
          <h6 class="dentro-boton"> Ir a pagar  <i class="fa-solid fa-circle-arrow-right"></i> </h6>
        </button>
      </section>
    </main>

    <%- include('partials/footer') %>
    
  </body>
</html>
