<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/16bf398b2a.js" crossorigin="anonymous"></script>
    <link href="css/Carrito.css" rel="stylesheet">
    <title>SportWear</title>
</head>
<body>
    <header>
        <nav class="top-header">
            <img class="logo-header" src="/images/logo-sportwear-a.png" alt="logo-footer">
            <i class="fas fa-shopping-cart"></i>
        </nav>
    </header>
    <main>
        <section class="info-buy">
            <h2>Tu Carrito</h2>
            <div class="price-buy">
                <article class="price">Total (x productos) $XXX</article>
                <article>
                    <button class="pay">Ir a pagar <i class="fas fa-long-arrow-alt-right"></i></button>
                </article>
            </div>
        </section>

        <section class="products-complete">
            <article class="products">
                <img class="img-product" src="/images/nike-revolution-5-a.webp" alt="foto product">
                <div class="product-info">
                    <p>Producto</p>
                    <p>Cantidad</p>
                </div>
            </article>
            <article class="products">
                <img class="img-product" src="/images/nike-revolution-5-b.webp" alt="foto product">
                <div class="product-info">
                    <p>Producto</p>
                    <p>Cantidad</p>
                </div>
            </article>
            <article class="products">
                <img class="img-product" src="/images/nike-revolution-5-c.webp" alt="foto product">
                <div class="product-info">
                    <p>Producto</p>
                    <p>Cantidad</p>
                </div>
            </article>
        </section>
        <section class="summary">
            <article class="summary-title">Resumen</article>
            <article class="summary-description">Cantidad de productos</article>
            <article class="summary-description">Valor envío</article>
            <article class="summary-price">Total: xxxxx</article>
            <button class="pay-bottom">Ir a pagar</button>
        </section>
    </main>
    <footer>
        <section class="top-footer">
            <img class="logo-footer" src="/images/logo-sportwear-a.png" alt="logo-footer">
            <article class="footer-info">Footer</article>
            <article class="footer-info">Footer</article>
        </section>
        <article class="grupo-4">Made by Grupo 4</article>
    </footer>
    
</body>
</html>