<%- include('partials/head.ejs') %>

  <body>
    
<%- include('partials/header.ejs') %>

    <main>
      <section class="info-buy">
        <h2>Tu Carrito</h2>
        <div class="price-buy">
          <article class="price">Total (x productos) $XXX</article>
          <article>
            <button class="pay">
              Ir a pagar <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </article>
        </div>
      </section>

      <section class="products-complete">
        <article class="products">
          <img
            class="img-product"
            src="/images/nike-revolution-5-a.webp"
            alt="foto product"
          />
          <div class="product-info">
            <p>Producto</p>
            <p>Cantidad</p>
          </div>
        </article>
        <article class="products">
          <img
            class="img-product"
            src="/images/nike-revolution-5-b.webp"
            alt="foto product"
          />
          <div class="product-info">
            <p>Producto</p>
            <p>Cantidad</p>
          </div>
        </article>
        <article class="products">
          <img
            class="img-product"
            src="/images/nike-revolution-5-c.webp"
            alt="foto product"
          />
          <div class="product-info">
            <p>Producto</p>
            <p>Cantidad</p>
          </div>
        </article>
      </section>
      <section class="summary">
        <article class="summary-title">Resumen</article>
        <article class="summary-description">Cantidad de productos</article>
        <article class="summary-description">Valor envío</article>
        <article class="summary-price">Total: xxxxx</article>
        <button class="pay-bottom">Ir a pagar</button>
      </section>
    </main>

    <%- include('partials/footer') %>
    
  </body>
</html>
