<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/detalle-del-producto.css" rel="stylesheet">

    <title>Sport Wear</title>
</head>

<body>
    <header>
        <div>
        <img class="logo" src="images/logo-sportwear-a.png" alt="logo del sitio">
        </div>
    </header>

    <section>
        <div>
        <img class="ver-producto" src="images/nike-revolution-5-a.webp" alt="nike revolution 5">
        </div>
            <div class="text-producto">
            <article class="nombre-del-producto">Nombre del Producto</article>
            <article class="precio">Precio</article>
        </div>

        <form>
            <label for="talles" class="talles">Talle</label>
            <input type="radio" name="talles" value="40" class="talle">40
            <input type="radio" name="talles" value="41" class="talle">41
            <input type="radio" name="talles" value="42" class="talle">42
            <input type="radio" name="talles" value="43" class="talle">43
        </form>

        <div class="buttons">
            <button class="boton">Añadir al Carrito</button>
            <button class="boton">Comprar Producto</button>
        </div>

        <div>
            <p class="descripcion">
                Descripción del producto: 
            </p>
        </div>

    </section>

    <div>
    <img src="/images/logo-sportwear-a.png" alt="logo-sportwear" 
    class="logo-footer" />
    </div>

  <div class="footer-info">
    <p>About us.</p>
    <p>Contact.</p>
    <p>Products.</p>
    <p>Shipping policie.</p>
  </div>
  <h4 class="phrase">Made with ⚡ by group 4</h4>
  <h4 class="copyright">Copyright © 2022 SportWear S.R.L.</h4>
</footer>

    
</body>

</html>