<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/detalle-del-producto.css" rel="stylesheet">

    <title>Sport Wear</title>
</head>

<body>
    <header>
        <div>
        <a href="/"><img class="logo" src="images/logo-sportwear-a.png" alt="logo del sitio"></a>
        </div>
    </header>

    <section>
        <div class="imagen-producto">
        <img class="ver-producto" src="images/nike-revolution-5-a.webp" alt="nike revolution 5">
        </div>
            <div class="text-producto">
            <article class="nombre-del-producto">Nombre del Producto</article>
            <article class="precio">Precio</article>
        </div>

        <form method="POST" action="/">
            
            <label for="talles" class="talles">Talle</label>
            
            <div class="div-input">
            <input type="radio" name="talles" value="40" class="talle">
            <label for="talles">40</label>
            <input type="radio" name="talles" value="41" class="talle">
            <label for="talles">41</label>
            <input type="radio" name="talles" value="42" class="talle">
            <label for="talles">42</label>
            <input type="radio" name="talles" value="43" class="talle">
            <label for="talles">43</label>
            </div>
        </form>

        <div class="buttons">
            <button type="submit" name="añadir" class="boton-agregar"><a href="/">Añadir al Carrito</a></button>
            <button type="submit" name="comprar"class="boton-comprar"><a href="/cart">Comprar Producto</a></button>
        </div>

        <div class="div-descripcion">
            <h3 class="descripcion">
                Descripción del producto:  
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, animi veniam. Modi ex eaque veritatis at facere dolores delectus, molestias commodi, magni expedita consectetur, perspiciatis ipsam enim. Atque, omnis eius.
            </p>
            <video width="320" height="480" controls>
                <source src= "/video/pexels-mart-production-7876926.mp4" type="video/mp4">

            </video>

        </div>

    </section>

    <footer>
        <img
          src="/images/logo-sportwear-a.png"
          alt="logo-sportwear"
          class="logo-footer"
        />
        <div class="footer-info">
          <p>About us.</p>
          <p>Contact.</p>
          <p>Products.</p>
          <p>Shipping policie.</p>
        </div>
        <h4 class="phrase">Made with ⚡ by group 4</h4>
        <h4 class="copyright">Copyright © 2022 SportWear S.R.L.</h4>
      </footer>

    
</body>

</html>