<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>SportWear</title>
  </head>

  <body>
    <header>
      <nav>
        <img
          src="/images/logo-sportwear-a.png"
          alt="logo-sportwear"
          class="logo-home"
        />
        <div class="mobile-nav">
          <input type="text" placeholder="Search products..." />
          <input type="checkbox" id="check"></input>
          <label for="check"><i class="fas fa-bars"></i></label>
          <ul>
            <li><a href="/productdetail">Our products</a></li>
            <li><a href="/cart">Shopping Cart</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          </ul>
        </div>
        
        
      </nav>
    </header>
    <main>
      <section class="home-carousel">
        <div class="carousel">Carousel</div>
      </section>
    </main>

    <section class="section-products">
      <h2>Our Products</h2>
      <div class="our-products">
        <article class="product">Card</article>
        <article class="product">Card</article>
        <article class="product">Card</article>
        <article class="product">Card</article>
      </div>
    </section>
    <article class="promo-message">
      <h3>Promo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus
        eveniet fugiat quod quia? Aperiam animi veniam commodi minus quia.</p>
      
    </article>

    <section class="more-products">
      <div class="carousel">Carousel</div>
    </section>

    <section class="text-info">
      <div class="more-info">more products</div>
      <div class="more-info">info</div>
      <div class="more-info">text</div>
    </section>


    <footer>
      <img
        src="/images/logo-sportwear-a.png"
        alt="logo-sportwear"
        class="logo-footer"
      />
      <div class="footer-info">
        <p>About us.</p>
        <p>Contact.</p>
        <p>Products.</p>
        <p>Shipping policie.</p>
      </div>
      <h4 class="phrase">Made with ⚡ by group 4</h4>
      <h4 class="copyright">Copyright © 2022 SportWear S.R.L.</h4>
    </footer>
  </body>
</html>
