  
<%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/home.css" />
</head>

  <body>
    
<%- include('partials/header.ejs') %>

    <main>

      <div class="video-intro">
        <video width="100%" autoplay muted loop> 
          <source src="/video/video.mp4" type="video/mp4"  > 
        </video>
        <h1 class="titulo-intro">Bienvenidos a Sport Wear</h1>
      </div>
    

    <section class="section-products">
      <h2>Nuestros Productos</h2>
      <div class="our-products">
        <article class="product">
          <img src="/images/images-home/images-productos-home/producto1.jpg" alt="producto1">
          <button>IR A VERLO<i class="fas fa-arrow-right"></i></button>
        </article>
        <article class="product">
          <img src="/images/images-home/images-productos-home/producto2.jpg" alt="producto2">
          <button>IR A VERLO<i class="fas fa-arrow-right"></i></button>
        </article>
        <article class="product">
          <img src="/images/images-home/images-productos-home/producto3.jpg" alt="producto3">
          <button>IR A VERLO<i class="fas fa-arrow-right"></i></button>
        </article>
        <article class="product">
          <img src="/images/images-home/images-productos-home/producto4.jpg" alt="producto4">
          <button>IR A VERLO<i class="fas fa-arrow-right"></i></button>
        </article>
      </div>
    </section>
    <article class="promo-message">
      <h3>Promo</h3>
      <p> Aprovecha los descuentos y bonificaciones de fin de temporada, además puedes obtener envíos sin cargo.</p>
      
    </article>

    <section class="text-info">
      <div class="more-info-left">
        <div class="image">
          <img src="/images/images-home/home-stretching.jpg" alt="man-stretching">
        </div>
        <div class="parrafo">
          <p>Los ganadores nunca se riden y los que se rinden nunca ganan</p>
        </div>
      </div>
      <div class="more-info-right">
        <div class="parrafo">
        <p>Que los niños crean en sí mismos y piensen que el límite es el cielo</p>
      </div>
        <div class="image">
          <img src="/images/images-home/home-jovenes.jpg" alt="man-stretching">
        </div>
      </div>
      <div class="more-info-left-ultima">
        <div class="image">
          <img src="/images/images-home/home-soccer.jpg" alt="man-stretching">
        </div>
        <div class="parrafo">
        <p>No dejes nada para mañana</p>
      </div>
      </div>
    </section>
  </main>

<%- include('partials/footer') %>
    
  </body>
</html>
