<%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/login-styles.css" />
</head>

  <body>
    
<%- include('partials/header.ejs') %>

  <main>
        <h2 class="titulo-bienvenida">Bienvenidos!</h2>
        <!-- <div class="foto-login">
          <img src="/images/images-home/home-stretching.jpg" alt="">
        </div>         -->
        <h3 class="titulo-login">Iniciar sesi칩n</h3>
        <div class="contenedor-form">
          <% if (locals.errors) { %> <% errors.forEach(error => { %>
            <p><%= error.msg %></p>
            <% }) %> <% } %>
          <form action="/login" method="POST">            
            <div class="info">
                  <label for="email">Correo electr칩nico</label> <br> 
                  <input type="email" name="email" id="email">
            </div>            
            <div class="info">
                  <label for="password">Contrase침a</label> <br>
                  <input type="password" name="password" id="password">  
            </div>
            <div class="boton">
              <div class="recordame">
                <label for="recordame">Recordar sesi칩n?</label>
                <input type="checkbox" name="recordame">
              </div>
              <button type="submit">Entrar</button>
            </div>           
          </form>
        </div>                
  </main>
  
  <%- include('partials/footer') %>

</body>
</html>