<%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/register-styles.css" />
</head>

  <body>
    
<%- include('partials/header.ejs') %>

      <main>
          <h2 class="text-margin-enviar">Crea tu cuenta!</h2>
          <h3 class="text-margin-enviar">Registro</h3>
          <% if (locals.errors) { %> <% errors.forEach(error => { %>
            <p><%= error.msg %></p>
            <% }) %> <% } %>
          <form action="register" method="POST" enctype="multipart/form-data">
              <div class="text-margin">
                  <label for="nombre">Nombre</label>
                  <input type="text" name="nombre" id="nombre">
              </div>
              <div class="text-margin">
                  <label for="email">Email</label>  
                  <input type="email" name="email" id="email">
              </div>
              <div class="text-margin">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password">  
              </div>
              <div class="text-margin">
                <label for="profileImage">Profile image</label>
                <input type="file" name="profileImage" id="profileImage">  
            </div>
              <div class="text-margin-enviar">
                  <label for="submit"></label>
                  <button type="submit">Enviar</button>
              </div>

              
             
              
          </form>
          <h3>Ya tenés cuenta? Ingresá con tu usuario! </h3>
      </main>
      
      <%- include('partials/footer') %>
      
</body>
</html>