%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/register-styles.css" />
</head>

  <body>
    
<%- include('partials/header.ejs') %>

      <main>
          
        <3>usuario    </3>
        <% for(let i=0; i<=usuario.length; i++ ) {  %>
            <p> <%=i%> </p>
        <% } %>


      </main>
      
      <%- include('partials/footer') %>
      
</body>
</html>