* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  list-style: none;
  background-color: #091353;
  padding: 2% 15%;
}

a {
  text-decoration: none;
  color: white;
}

.logo-home {
  width: 100%;
}

#check {
  display: none;
}

ul {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 21%;
  width: 100%;
  height: 80vh;
  background: linear-gradient(#091353, #4353bb);
  transition: all 0.5s;
}

ul li {
  display: block;
  font-size: 2rem;
  margin: 2% 0;
}

#check:checked ~ ul {
  left: 0;
}

.mobile-nav {
  justify-content: center;
  align-items: center;
  display: flex;
}
.mobile-nav input {
  border: none;
  padding: 3%;
  background-color: #b2f9fc;
  border-radius: 20px;
}

.mobile-nav button {
  background-color: #091353;
  border: none;
  margin-left: 10px;
}
.fa-bars {
  color: white;
  font-size: 2rem;
}

main {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

h2 {
  padding: 10px 0 0 50px;
  font-size: 40px;
}

.price-buy {
  padding: 10px 20px 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.price {
  width: 35%;
  font-size: 22px;
}

.pay {
  border-radius: 15px;
  background-color: #d5d5d5;
  padding: 7px;
}

.products {
  display: flex;
  border: 1px solid black;
  width: 70%;
  margin: 15px 0 0 40px;
}

.img-product {
  width: 50%;
}

.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
}

.summary {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 40px 10px 10px;
  background-color: #d5d5d5;
  padding-bottom: 15px;
}

.summary-title {
  padding: 6% 0 6% 6%;
  font-size: 30px;
}

.summary-description {
  padding: 0 0 4% 6%;
}

.summary-price {
  padding: 5% 0 15% 6%;
  font-size: 22px;
}

.pay-bottom {
  display: block;
  margin: auto;
  padding: 3%;
  border-radius: 15%;
  background-color: #b2f9fc;
}

footer {
  background-color: #091353;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  padding: 20% 15%;
  flex-wrap: wrap;
}

.footer-info {
  font-size: 0.9em;
  margin-left: 20px;
}

.logo-footer {
  width: 50%;
}

.phrase {
  margin-top: 50px;
}

.copyright {
  font-size: 0.8em;
  margin-top: 20px;
}

