* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: black;
}

.logo-home {
  width: 100%;
}

button {
  cursor: pointer;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

main {
  animation: transitionIn 1s;
}

@media only screen and (min-width: 1024px) {
  #check {
    display: none;
  }

  header {
    background-color: black;
    padding: 0 2%;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
  }

  .busqueda-producto {
    border-radius: 30%;
    width: 30%;
  }

  .mobile-nav input {
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 30px;
  }

  .opciones-nav {
    display: flex;
    margin-top: 3%;
  }

  a {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mobile-nav ul li {
    margin-left: 50px;
  }

  li a {
    transition: all 0.1s ease;
  }

  li a:hover {
    text-decoration: underline;
  }

  .tope-page {
    width: 20%;
    margin-top: 20px;
  }

  .logo-home {
    width: 100%;
  }

  .fa-bars {
    display: none;
  }

  /* content */

  main {
    margin: 20px;
  }

  .tu-carrito {
    text-align: center;
  }

  .vacio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .checkout-cart {
    margin: 20px;
    width: 30%;
  }

  .img-cart {
    width: 100%;
  }

  .img-cart img {
    width: 100%;
  }

  .descripcion-cart {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .countProducto {
    width: 10%;
  }

  .borrar-boton {
    background-color: rgb(236, 62, 62);
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: white;
  }

  .fa-times {
    font-size: 2rem;
    color: white;
  }

  .centrarCarrito {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #botonBorrar {
    background-color: rgb(236, 62, 62);
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 1.5rem;
    margin: auto;
  }

  .pay {
    background-color: #35d0ba;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 2rem;
    margin: auto;
  }

  /* Carrito con productos

  .tu-carrito {
    background-color: #ccd1d1;
    text-align: center;
    padding: 5px;
  }

  .price-buy {
    background-color: #ccd1d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }

  .pay {
    background-color: #52be80;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
  }
  .dentro-boton {
    color: #2c3e50;
  }

  .productos {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img-producto {
    width: 17%;
    border-radius: 10px;
  }

  .summary {
    background-color: #ccd1d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
  } */

  /* Footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 5%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
    width: 40%;
  }

  .logo-footer {
    width: 30%;
  }

  .phrase {
    width: 100%;
    text-align: center;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1023px) {
  /*Navbar*/

  #check {
    display: none;
  }

  a {
    color: white;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 165px;
    width: 100%;
    height: 80vh;
    background: linear-gradient(black, #232429);
    transition: all 0.5s;
    z-index: 1;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2%;
  }

  .checked {
    left: 0;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-home {
    width: 50%;
  }

  .tope-page {
    width: 100%;
    text-align: center;
  }

  .busqueda-producto {
    width: 80%;
  }

  .mobile-nav input {
    border: none;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    width: 85%;
  }

  .search-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .fa-bars {
    color: white;
    font-size: 3rem;
  }

  /* content */

  main {
    margin: 20px;
  }

  .tu-carrito {
    text-align: center;
  }

  .vacio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .checkout-cart {
    margin: 20px;
    width: 40%;
  }

  .img-cart {
    width: 100%;
  }

  .img-cart img {
    width: 100%;
  }

  .descripcion-cart {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .countProducto {
    width: 10%;
  }

  .borrar-boton {
    background-color: rgb(236, 62, 62);
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: white;
  }

  .fa-times {
    font-size: 2rem;
    color: white;
  }

  .centrarCarrito {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #botonBorrar {
    background-color: rgb(236, 62, 62);
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 1.5rem;
    margin: auto;
  }

  .pay {
    background-color: #35d0ba;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 2rem;
    margin: auto;
  }

  /* Footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 10%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
    width: 40%;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    width: 100%;
    text-align: center;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /*Navbar*/

  #check {
    display: none;
  }

  a {
    color: white;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 160px;
    width: 100%;
    height: 80vh;
    background: linear-gradient(black, #232429);
    transition: all 0.5s;
    z-index: 1;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2%;
  }

  .checked {
    left: 0;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-home {
    width: 100%;
  }

  .tope-page {
    width: 100%;
  }

  .busqueda-producto {
    width: 80%;
  }

  .mobile-nav input {
    border: none;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    width: 85%;
  }

  .search-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .fa-bars {
    color: white;
    font-size: 2rem;
  }

  /* content */

  main {
    margin: 20px;
  }

  .tu-carrito {
    text-align: center;
  }

  .checkout-cart {
    margin: 20px;
    width: 100%;
  }

  .img-cart {
    width: 100%;
  }

  .img-cart img {
    width: 100%;
  }

  .descripcion-cart {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .countProducto {
    width: 10%;
  }

  .borrar-boton {
    background-color: rgb(236, 62, 62);
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: white;
  }

  .fa-times {
    font-size: 2rem;
    color: white;
  }

  .centrarCarrito {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #botonBorrar {
    background-color: rgb(236, 62, 62);
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 1.5rem;
    margin: auto;
  }

  .pay {
    background-color: #35d0ba;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 2rem;
    margin: auto;
  }

  /* footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 20% 15%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}

/*  
#check {
  display: none;
}

ul {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 21%;
  width: 100%;
  height: 80vh;
  background: linear-gradient(#091353, #4353bb);
  transition: all 0.5s;
}

ul li {
  display: block;
  font-size: 2rem;
  margin: 2% 0;
}

#check:checked ~ ul {
  left: 0;
}

.mobile-nav {
  justify-content: center;
  align-items: center;
  display: flex;
}
.mobile-nav input {
  border: none;
  padding: 3%;
  background-color: #b2f9fc;
  border-radius: 20px;
}

.mobile-nav button {
  background-color: #091353;
  border: none;
  margin-left: 10px;
}
.fa-bars {
  color: white;
  font-size: 2rem;
}

main {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

h2 {
  padding: 10px 0 0 50px;
  font-size: 40px;
}

.price-buy {
  padding: 10px 20px 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.price {
  width: 35%;
  font-size: 22px;
}

.pay {
  border-radius: 15px;
  background-color: #d5d5d5;
  padding: 7px;
}

.products {
  display: flex;
  border: 1px solid black;
  width: 70%;
  margin: 15px 0 0 40px;
}

.img-product {
  width: 50%;
}

.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
}

.summary {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 40px 10px 10px;
  background-color: #d5d5d5;
  padding-bottom: 15px;
}

.summary-title {
  padding: 6% 0 6% 6%;
  font-size: 30px;
}

.summary-description {
  padding: 0 0 4% 6%;
}

.summary-price {
  padding: 5% 0 15% 6%;
  font-size: 22px;
}

.pay-bottom {
  display: block;
  margin: auto;
  padding: 3%;
  border-radius: 15%;
  background-color: #b2f9fc;
}

footer {
  background-color: #091353;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  padding: 20% 15%;
  flex-wrap: wrap;
}

.footer-info {
  font-size: 0.9em;
  margin-left: 20px;
}

.logo-footer {
  width: 50%;
}

.phrase {
  margin-top: 50px;
}

.copyright {
  font-size: 0.8em;
  margin-top: 20px;
}

*/
