* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
  
  header{
    
    background-color: #091353;
    padding: 5px 10px 5px 0px;
  }
  
.logo{
    width: 100%;
    padding: 0px 10px 0px 0px;
  }

  .imagen-producto{
    padding: 20px;
    background: #9D84B7;
    

  }

  .ver-producto{
      width: 100%;
      height: 80%;
      border-radius: 10%;
      }

  .text-producto{
      display: flex;
      background-color: #D5D5D5;
      padding: 10px 6px;
  }

  .nombre-del-producto{
      width: 60%;
      height: 45px;
      background-color: #D5D5D5;
  }

  form{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    }

.talle{
  margin-left: 15px;
}    
 
       
  .buttons{
    display: flex;
    justify-content: space-around;
    background-color: #D5D5D5;
    padding: 10px;
  }

    .boton-agregar {
    border: 2px solid green;
    padding: 10px;
    color: green
  }

  .boton-comprar {
    border: none;
    padding: 10px;
    color: white;
    background-color: green;
  }

  .boton-comprar a:visited{
    color: white;
  }

  .boton-agregar a:visited{
    color: green;
  }
  
  .div-descripcion{
    background-color: #D5D5D5;
    padding: 5px;
    width: 100%;
     
  }

  /*.div-descripcion p{
    display: inline;
  }
*/
  footer {
    background-color: #091353;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 20% 15%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }

@media (min: 375){
  section {
    display: flex;

  }
} 
