* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
  
  header{
    
    background-color: #091353;
    padding: 5px 10px 5px 0px;
  }
  
.logo{
    width: 100%;
    padding: 0px 10px 0px 0px;
  }

  

  div.nombre-del-producto {
    padding: 25px;
    background: #120124;
    height: 45px;
    }
    h3.nombre-del-producto {
      color: #FFFFFF;
      font-size: 28px;
      
      }

  .imagen-producto{
    padding: 30px;
    background: #120124;
  }

  .ver-producto{
      width: 100%;
      height: 80%;
      border-radius: 1%;
      }

  .precio{
      display: flex;
      background-color: #D5D5D5;
      padding: 10px 6px;
  }

  
  .titulo_talles{
    font-size: 23px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    }

/* botones de talle*/
.seleccion-talle{
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  line-height: 1.2;
  min-width: 72px;
  height: 50px;
  border: 2px solid rgb(72, 72, 75);
  background-color: rgb(253, 18, 10);
  margin-bottom: 8px;
  
}
.div-input :hover{
  background-color: blue;
}  

.formulario_talle {
display: none;
cursor: pointer; /* no esta funcionando*/
}
.formulario_talle :checked {
  border: 4px solid blue;
  background-color: grey
}

/*Borones de acceso a carrito, comprar, editar y borrar*/
  .buttons{
    display: flex;
    justify-content: space-around;
    background-color: #D5D5D5;
    padding: 10px;
  }

    .boton-agregar {
    border: 2px solid green;
    padding: 10px;
    color: green
  }

  .boton-comprar {
    border: none;
    padding: 10px;
    color: white;
    background-color: green;
  }

  .boton-comprar a:visited{
    color: white;
  }

  .boton-agregar a:visited{
    color: green;
  }
  
  .div-descripcion{
    background-color: #D5D5D5;
    padding: 5px;
    width: 100%;
    
  }

  .video-detalle-producto{
    width: 50%;
    height: 1000px;
    margin: 25px;
    padding: 25px;
    background-color: #120124;
  }

  /*.div-descripcion p{
    display: inline;
  }
*/
  footer {
    background-color: #091353;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 20% 15%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }

@media (min: 375){
  .media_wrap{
    display: flex;
    flex-wrap: wrap;
  }
  
} 
