* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

header {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.logo-home {
  width: 100%;
}

.text-danger {
  color: red;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  #check {
    display: none;
  }

  header {
    background-color: black;
    padding: 0 2%;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
  }

  .busqueda-producto {
    border-radius: 30%;
    width: 30%;
  }

  .mobile-nav input {
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 30px;
  }

  .opciones-nav {
    display: flex;
    margin-top: 3%;
  }

  a {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mobile-nav ul li {
    margin-left: 50px;
  }

  li a {
    transition: all 0.1s ease;
  }

  li a:hover {
    text-decoration: underline;
  }

  .tope-page {
    width: 20%;
    margin-top: 20px;
  }

  .logo-home {
    width: 100%;
  }

  .fa-bars {
    display: none;
  }

  /* main section */

  h1 {
    margin: 35px 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
  }

  .form-create {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .input-text {
    border: none;
    background-color: #dadada;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.3rem;
  }

  .crear-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #54e346;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.3rem;
  }

  /*si el item ya existe*/
  .item-existe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .editar-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff5151;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
  }

  /* Footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 5%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
    width: 40%;
  }

  .logo-footer {
    width: 30%;
  }

  .phrase {
    width: 100%;
    text-align: center;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  #check {
    display: none;
  }

  a {
    color: white;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 90px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(black, #232429);
    transition: all 0.5s;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2% 0;
  }

  .checked {
    left: 0;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .tope-page {
    width: 40%;
  }

  .busqueda-producto {
    width: 40%;
  }

  .mobile-nav input {
    border: none;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    width: 70%;
    margin-right: 10px;
  }

  .fa-bars {
    color: white;
    font-size: 2rem;
  }

  /* main section */

  h1 {
    margin: 25px 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
  }

  .form-create {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .input-text {
    border: none;
    background-color: #dadada;
    border-radius: 30px;
    padding: 10px;
  }

  .crear-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #54e346;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.3rem;
  }

  /*si el item ya existe*/
  .item-existe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .editar-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff5151;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
  }

  /* Footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 10%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
    width: 40%;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    width: 100%;
    text-align: center;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /*Navbar*/

  #check {
    display: none;
  }

  a {
    color: white;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 160px;
    width: 100%;
    height: 80vh;
    background: linear-gradient(black, #232429);
    transition: all 0.5s;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2%;
  }

  .checked {
    left: 0;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-home {
    width: 100%;
  }

  .tope-page {
    width: 100%;
  }

  .busqueda-producto {
    width: 40%;
  }

  .mobile-nav input {
    border: none;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    width: 70%;
    margin-right: 10px;
  }

  .fa-bars {
    color: white;
    font-size: 2rem;
  }

  /*main section*/

  h1 {
    margin: 25px 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
  }

  .form-create {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .input-text {
    border: none;
    background-color: #dadada;
    border-radius: 30px;
    padding: 10px;
  }

  .crear-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #54e346;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.3rem;
  }

  /*si el item ya existe*/
  .item-existe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .editar-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff5151;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
  }

  /* footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 20% 15%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
