* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  list-style: none;
  background-color: #091353;
  padding: 2% 15%;
}

a {
  text-decoration: none;
  color: white;
}

.logo-home {
  width: 100%;
}

@media (max-width: 768px) {
  #check {
    display: none;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 21%;
    width: 100%;
    height: 80vh;
    background: linear-gradient(#091353, #4353bb);
    transition: all 0.5s;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2% 0;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .mobile-nav {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .mobile-nav input {
    border: none;
    padding: 3%;
    background-color: #b2f9fc;
    border-radius: 20px;
  }

  .mobile-nav button {
    background-color: #091353;
    border: none;
    margin-left: 10px;
  }
  .fa-bars {
    color: white;
    font-size: 2rem;
  }

  main {
    background-color: #091353;
    padding: 5% 0 0;
  }

  .carousel {
    width: 100%;
    height: 25vh;
    background-color: #d5d5d5;
    text-align: center;
  }

  .section-products {
    background-color: #9d84b7;
    padding: 5% 15%;
  }
  .section-products h2 {
    color: white;
    text-align: center;
  }

  .product {
    width: 100%;
    height: 250px;
    background-color: #d5d5d5;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
  }

  .our-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .promo-message {
    text-align: center;
    width: 100%;
    height: 15vh;
    background-color: rgb(115, 233, 111);
    color: white;
    padding-top: 10%;
  }

  .text-info {
    background-color: black;
    color: white;
  }

  .more-info {
    padding: 5% 15%;
    background-color: #091353;
    width: 100%;
  }

  footer {
    background-color: #091353;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 20% 15%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
