* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

header {
  padding: 2% 15%;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.logo-home {
  width: 100%;
}

.text-danger {
  color: red;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  #check {
    display: none;
  }

  header nav {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mobile-nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
  }

  .mobile-nav input {
    margin-top: 30px;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 30px;
  }

  .mobile-nav ul {
    position: absolute;
    top: 170px;
    right: 20%;
    left: 15%;
    display: flex;
    width: 1024px;
    justify-content: center;
    font-size: 1.5rem;
  }

  .mobile-nav ul li {
    margin-left: 50px;
  }

  li a {
    transition: all 0.1s ease;
  }

  li a:hover {
    text-decoration: underline;
  }

  .logo-home {
    width: 50%;
  }

  .fa-bars {
    display: none;
  }

  /* Contenido form */

  .profile-head {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-head h3 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .user-image {
    width: 30%;
    align-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }

  .input-field {
    width: 50%;
    margin: 10px 0 10px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .input-field input {
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;
    font-size: 1.2rem;
    padding: 8px;
    width: 80%;
  }

  .text-margin-enviar {
    margin-top: 20px;
  }

  .text-margin-enviar button {
    border: none;
    background-color: #ff5151;
    font-size: 1.2rem;
    color: white;
    padding: 9px;
    border-radius: 4px;
    width: 100%;
  }

  /* Footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 5%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
    width: 40%;
  }

  .logo-footer {
    width: 30%;
  }

  .phrase {
    width: 100%;
    text-align: center;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1023px) {
  #check {
    display: none;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 250px;
    width: 100%;
    height: 80vh;
    background: linear-gradient(black, #232429);
    transition: all 0.5s;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2% 0;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .mobile-nav {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .mobile-nav input {
    border: none;
    padding: 2%;
    background-color: white;
    border-radius: 20px;
    width: 70%;
    margin-right: 10px;
  }

  .mobile-nav button {
    background-color: black;
    border: none;
    margin-left: 10px;
  }
  .fa-bars {
    color: white;
    font-size: 2rem;
  }

  /* Contenido form */

  .profile-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-image {
    width: 50%;
    overflow: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-field {
    width: 80%;
    margin: 10px 0 10px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .input-field input {
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;
    font-size: 1.2rem;
    padding: 8px;
    width: 80%;
  }

  .text-margin-enviar {
    margin-top: 20px;
  }

  .text-margin-enviar button {
    border: none;
    background-color: #ff5151;
    font-size: 1.2rem;
    color: white;
    padding: 9px;
    border-radius: 4px;
    width: 100%;
  }

  /* Footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 10%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
    width: 40%;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    width: 100%;
    text-align: center;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /*Navbar*/

  #check {
    display: none;
  }

  ul {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 120px;
    width: 100%;
    height: 90vh;
    background: linear-gradient(black, #232429);
    transition: all 0.5s;
    z-index: 1;
  }
  ul li {
    display: block;
    font-size: 2rem;
    margin: 2% 0;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .mobile-nav {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .mobile-nav input {
    border: none;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
  }

  .mobile-nav button {
    background-color: black;
    border: none;
    margin-left: 10px;
  }
  .fa-bars {
    color: white;
    font-size: 2rem;
  }

  /* Contenido form */

  .profile-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-head h3 {
    margin: 20px;
    font-size: 2rem;
  }

  .user-image {
    width: 50%;
    overflow: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-field {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-field input {
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;
    font-size: 1.2rem;
    padding: 2px;
    width: 80%;
  }

  .text-margin-enviar {
    margin-top: 10px;
  }

  .text-margin-enviar button {
    border: none;
    background-color: #ff5151;
    font-size: 1.2rem;
    color: white;
    padding: 9px;
    border-radius: 4px;
    width: 100%;
  }

  /* footer */

  footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding: 20% 15%;
    flex-wrap: wrap;
  }

  .footer-info {
    font-size: 0.9em;
    margin-left: 20px;
  }

  .logo-footer {
    width: 50%;
  }

  .phrase {
    margin-top: 50px;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 20px;
  }
}
